<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebConf</display-name>
  
  
  <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<servlet-class>org.webrtc.web.MessagePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MessageServlet</servlet-name>
  	<url-pattern>/message</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<servlet-class>org.webrtc.web.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  <listener>
	<listener-class>org.webrtc.WebRTCServerServletContextListener</listener-class>
  </listener>
  
</web-app>